<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostAndFound"
        tools:targetApi="31">
        <activity
            android:name=".activities.History_Details"
            android:exported="false" />
        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.LostAndFound.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Sign Up Activity -->
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" /> <!-- Post Item Activity -->
        <activity
            android:name=".activities.PostItemActivity"
            android:exported="false" /> <!-- Item Detail Activity -->
        <activity
            android:name=".activities.ItemDetailActivity"
            android:exported="false" /> <!-- Profile Activity -->
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <!-- Add EditItemActivity -->
        <activity
            android:name=".activities.EditItemActivity"
            android:exported="false"
            android:parentActivityName=".activities.ItemDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ItemDetailActivity" />
        </activity>
    </application>

</manifest>